<div class="clients" *ngIf="clients$ | async as clients">
  <div class="clients__queue">
    <ng-container *ngFor="let clientInQueue of clients.slice(6, 20)">
      <div [ngStyle]="{ position: 'relative' }">
        <img
          [src]="'../../assets/img/human' + clientInQueue.imgId + '.PNG'"
          alt="Client waiting to get a coffee"
          class="clients__img queue"
        />
        <img
          [src]="'../../assets/img/queue.png'"
          alt="client status"
          class="clients__img--status"
        />
      </div>
    </ng-container>
  </div>
  <div class="clients__waiting">
    <ng-container *ngFor="let waitingClient of clients.slice(0, 6)">
      <div [ngStyle]="{ position: 'relative' }">
        <img
          [src]="'../../assets/img/human' + waitingClient.imgId + '.PNG'"
          alt="Client waiting to get a coffee"
          class="clients__img"
        />
        <img
          [src]="
            '../../assets/img/' +
            (waitingClient.status === CLIENT_STATUS.WAITING
              ? 'coffee'
              : waitingClient.status === CLIENT_STATUS.ABOUT_TO_ORDER
              ? 'sleeping'
              : '') +
            '.png'
          "
          alt="client status"
          class="clients__img--status"
        />
      </div>
    </ng-container>
  </div>
</div>
